body {
  background-color:#40E0D0;
}

p.copy {
  font-size: 10px;
}

img {
    height:auto; 
    width:auto; 
    max-width:50px; 
    max-height:50px;
}

.code {
  background-color:black;
  color:green;
  font-family:Courier;
  line-height:normal;
}

footer {
  line-height:100%;
}
.programming-users 
{
  display: inline;
  padding: 5px;
  margin: 15px;
  border: 14px solid blue;

}

#tours {
  background-color: orange;
  padding: 20px;
  border: 1px solid black;
  width: 150px;
}

#code-comparison {
  background-color: blueviolet;
  padding: 13px;
  border: 2px dashed coral;
  width:250px;      
}
@media screen and (max-width:300px){
  code-comparison{
    padding:20px;
  }
}